USE [master]
GO
/****** Object:  Database [BOARDING_HOUSE]    Script Date: 18/7/2022 1:27:56 AM ******/
CREATE DATABASE [BOARDING_HOUSE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BOARDING_HOUSE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BOARDING_HOUSE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BOARDING_HOUSE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BOARDING_HOUSE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BOARDING_HOUSE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BOARDING_HOUSE]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 18/7/2022 1:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nchar](100) NULL,
	[FullName] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[CreateAt] [datetime] NULL,
	[UpdateAt] [datetime] NULL,
	[Is_Active] [bit] NULL,
	[Is_Delete] [bit] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 18/7/2022 1:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreateAt] [datetime] NULL,
	[UpdateAt] [datetime] NULL,
	[Is_Delete] [bit] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 18/7/2022 1:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [uniqueidentifier] NOT NULL,
	[RoomId] [uniqueidentifier] NULL,
	[AccountId] [uniqueidentifier] NULL,
	[Content] [nvarchar](max) NULL,
	[CreateAt] [datetime] NULL,
	[UpdateAt] [datetime] NULL,
	[Is_Delete] [bit] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 18/7/2022 1:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Is_Delete] [bit] NULL,
	[CreateAt] [datetime] NULL,
	[UpdateAt] [datetime] NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 18/7/2022 1:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NULL,
	[RoomId] [uniqueidentifier] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Is_Delete] [bit] NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 18/7/2022 1:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[Id] [uniqueidentifier] NOT NULL,
	[RoomId] [uniqueidentifier] NULL,
	[AccountId] [uniqueidentifier] NULL,
	[Rating] [int] NULL,
	[CreateAt] [datetime] NULL,
	[UpdateAt] [date] NULL,
	[Is_Delete] [bit] NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 18/7/2022 1:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](max) NULL,
	[Is_Delete] [bit] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 18/7/2022 1:27:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Id] [uniqueidentifier] NOT NULL,
	[OwnerId] [uniqueidentifier] NULL,
	[CategoryId] [uniqueidentifier] NULL,
	[DistrictId] [uniqueidentifier] NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Coordinates] [nvarchar](max) NULL,
	[Price] [float] NULL,
	[Images] [nvarchar](max) NULL,
	[CreateAt] [datetime] NULL,
	[UpdateAt] [datetime] NULL,
	[Is_Rented] [bit] NULL,
	[Is_Delete] [bit] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Id], [RoleId], [Email], [Password], [FullName], [Address], [CreateAt], [UpdateAt], [Is_Active], [Is_Delete]) VALUES (N'1af9d259-82b7-4d32-a029-00239f215675', N'24169e57-4e33-48c3-aae4-5ae19be6c87d', N'SinhVion10.@google.com', N'w8nTMgrt                                                                                            ', N' Sinh Viên 10', N' hẻm 6 đường Nguyễn Trãi nối dài, kv.Yên Thuận, Phường Lê Bình, Quận Cái Răng, TP. Cần Thơ', CAST(N'2022-07-18T01:21:17.753' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[Account] ([Id], [RoleId], [Email], [Password], [FullName], [Address], [CreateAt], [UpdateAt], [Is_Active], [Is_Delete]) VALUES (N'10c7fba3-e548-4554-89e5-00fd84d01211', N'24169e57-4e33-48c3-aae4-5ae19be6c87d', N'AnhThi.@google.com', N'KwUc0u@y                                                                                            ', N' Anh Thi', N' 132/S5 hẻm liên tổ 1-2 đường Nguyễn Văn Cừ, Phường An Kkhánh, Quận Ninh Kiều, TP Cần Thơ', CAST(N'2022-07-18T01:21:17.753' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[Account] ([Id], [RoleId], [Email], [Password], [FullName], [Address], [CreateAt], [UpdateAt], [Is_Active], [Is_Delete]) VALUES (N'c2fa8ff7-d575-4e5b-b65c-011cdd5f28e3', N'24169e57-4e33-48c3-aae4-5ae19be6c87d', N'NgocHa.@google.com', N'mtEUP3@U                                                                                            ', N' Ngọc Hà', N' 49Đ2, Khu Vực 2 đường Nguyễn văn Cừ nối dài, Phường An Khánh, Quận Ninh Kiều, TP Cần Thơ', CAST(N'2022-07-18T01:21:17.753' AS DateTime), NULL, 1, NULL)
GO
INSERT [dbo].[Category] ([Id], [Name], [CreateAt], [UpdateAt], [Is_Delete]) VALUES (N'69c4765a-9ed9-4263-93f2-91b1423066f8', N'Cao Cấp', CAST(N'2022-07-17T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Category] ([Id], [Name], [CreateAt], [UpdateAt], [Is_Delete]) VALUES (N'0b4a7065-c29d-47da-aa5b-e136061ca5ff', N'Trung Cấp', CAST(N'2022-07-17T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Category] ([Id], [Name], [CreateAt], [UpdateAt], [Is_Delete]) VALUES (N'b34b1d3e-3446-4a37-b2d0-ec017110bfc5', N'Bình dân', CAST(N'2022-07-17T00:00:00.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[District] ([Id], [Name], [Is_Delete], [CreateAt], [UpdateAt]) VALUES (N'32b43bbb-b4f1-45c2-a085-29266f55f4d0', N'Ô Môn', NULL, CAST(N'2022-07-17T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[District] ([Id], [Name], [Is_Delete], [CreateAt], [UpdateAt]) VALUES (N'347a5147-e357-4267-892f-31daa7da57b4', N'Cái Răng', NULL, CAST(N'2022-07-17T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[District] ([Id], [Name], [Is_Delete], [CreateAt], [UpdateAt]) VALUES (N'0fa0b09b-4c17-4220-88cd-351a4fd7c0ee', N'Bình Thủy', NULL, CAST(N'2022-07-17T00:00:00.000' AS DateTime), NULL)
GO
INSERT [dbo].[Role] ([Id], [RoleName], [Is_Delete]) VALUES (N'663f64d3-acd0-4979-86a7-0f6f1609ee88', N'Admin', 0)
INSERT [dbo].[Role] ([Id], [RoleName], [Is_Delete]) VALUES (N'24169e57-4e33-48c3-aae4-5ae19be6c87d', N'User', 0)
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Account]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Room]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_Account]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([Id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_Room]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Account]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([Id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Room]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_Account] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_Account]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_Category]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_District] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[District] ([Id])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_District]
GO
USE [master]
GO
